<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735690388893-6i47inpq8j14lt58vta1n4k4dcn04l2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735690388893-6i47inpq8j14lt58vta1n4k4dcn04l2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKvLa47_jGB8pTSCWDRWy2-jUo56hnyrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>735690388893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plan</string>
	<key>PROJECT_ID</key>
	<string>plan-43e28</string>
	<key>STORAGE_BUCKET</key>
	<string>plan-43e28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735690388893:ios:b3ca0b2607037397852b74</string>
</dict>
</plist>